openapi: 3.0.0
info:
  title: サンプルAPI
  description: これはサンプルのAPIドキュメントです。
  version: 1.0.0
servers:
  - url: https://sheets.googleapis.com/v4/spreadsheets/{スプレッドシートID}/values/
    description: スプレッドシートAPI
tags:
  - name: 商品情報
    description: 商品に関する情報を提供するエンドポイント
paths:
  /商品情報:
    get:
      tags:
        - 商品情報
      summary: 商品情報の取得
      responses:
        '200':
          description: 成功時のレスポンス
          content:
            application/json:
              schema:
                type: object
                properties:
                  range:
                    type: string
                    example: "'商品情報'!A1:S25"
                  majorDimension:
                    type: string
                    example: "ROWS"
                  values:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
                    example: 
                      - ["商品ID", "商品名", "カテゴリー", "焙煎度", "内容量", "特徴", "単価", "登録日"]
                      - ["KIL-BL-500-001", "キリマンジャロ", "豆", "浅煎り", "500", "生産国は「タンザニア」。強い酸味とコク、甘い香り、「野性味あふれる味」と表現されることも。", "¥1,700.00", "2025/02/14"]
                      - ["KIL-BM-500-002", "キリマンジャロ", "豆", "中煎り", "500", "生産国は「タンザニア」。強い酸味とコク、甘い香り、「野性味あふれる味」と表現されることも。", "¥1,700.00", "2025/02/14"]
                      - ["KIL-BD-500-003", "キリマンジャロ", "豆", "深煎り", "500", "生産国は「タンザニア」。強い酸味とコク、甘い香り、「野性味あふれる味」と表現されることも。", "¥1,700.00", "2025/02/14"]
                      - ["BLM-BL-500-001", "ブルーマウンテン", "豆", "浅煎り", "500", "生産国は「ジャマイカ」。調和のとれた味わいと滑らかな喉越し、卓越した香気。すべてのコーヒーの良さを合わせ持つことから「コーヒーの王様」と称される。", "¥7,000.00", "2025/02/14"]
                      - ["BLM-BM-500-002", "ブルーマウンテン", "豆", "中煎り", "500", "生産国は「ジャマイカ」。調和のとれた味わいと滑らかな喉越し、卓越した香気。すべてのコーヒーの良さを合わせ持つことから「コーヒーの王様」と称される。", "¥7,000.00", "2025/02/14"]
                      - ["BLM-BD-500-003", "ブルーマウンテン", "豆", "深煎り", "500", "生産国は「ジャマイカ」。調和のとれた味わいと滑らかな喉越し、卓越した香気。すべてのコーヒーの良さを合わせ持つことから「コーヒーの王様」と称される。", "¥7,000.00", "2025/02/14"]
                      - ["MOC-BL-500-001", "モカ", "豆", "浅煎り", "500", "生産国は「イエメン」と「エチオピア」。フルーツのような酸味と甘み、コクがある。", "¥1,700.00", "2025/02/14"]
                      - ["MOC-BM-500-002", "モカ", "豆", "中煎り", "500", "生産国は「イエメン」と「エチオピア」。フルーツのような酸味と甘み、コクがある。", "¥1,700.00", "2025/02/14"]
                      - ["MOC-BD-500-003", "モカ", "豆", "深煎り", "500", "生産国は「イエメン」と「エチオピア」。フルーツのような酸味と甘み、コクがある。", "¥1,700.00", "2025/02/14"]
                      - ["BRA-BL-500-001", "ブラジル", "豆", "浅煎り", "500", "生産国は「ブラジル」。バランスの良い酸味と苦味で万人受けしやすいため、ブレンドのベースに使われることも多い。", "¥1,700.00", "2025/02/14"]
                      - ["BRA-BM-500-002", "ブラジル", "豆", "中煎り", "500", "生産国は「ブラジル」。バランスの良い酸味と苦味で万人受けしやすいため、ブレンドのベースに使われることも多い。", "¥1,700.00", "2025/02/14"]
                      - ["BRA-BD-500-003", "ブラジル", "豆", "深煎り", "500", "生産国は「ブラジル」。バランスの良い酸味と苦味で万人受けしやすいため、ブレンドのベースに使われることも多い。", "¥1,700.00", "2025/02/14"]
                      - ["GUA-BL-500-001", "グアテマラ", "豆", "浅煎り", "500", "生産国は「グアテマラ」。果物を思わせるフレッシュな酸味、華やかな甘い香り、豊かなコクがある。", "¥1,700.00", "2025/02/14"]
                      - ["GUA-BM-500-002", "グアテマラ", "豆", "中煎り", "500", "生産国は「グアテマラ」。果物を思わせるフレッシュな酸味、華やかな甘い香り、豊かなコクがある。", "¥1,700.00", "2025/02/14"]
                      - ["GUA-BD-500-003", "グアテマラ", "豆", "深煎り", "500", "生産国は「グアテマラ」。果物を思わせるフレッシュな酸味、華やかな甘い香り、豊かなコクがある。", "¥1,700.00", "2025/02/14"]
                      - ["COL-BL-500-001", "コロンビア", "豆", "浅煎り", "500", "生産国は「コロンビア」。ナチュラルな甘さと重量感のあるコク、フルーティーさもあり、バランスの良い味。", "¥1,450.00", "2025/02/14"]
                      - ["COL-BM-500-002", "コロンビア", "豆", "中煎り", "500", "生産国は「コロンビア」。ナチュラルな甘さと重量感のあるコク、フルーティーさもあり、バランスの良い味。", "¥1,450.00", "2025/02/14"]
                      - ["COL-BD-500-003", "コロンビア", "豆", "深煎り", "500", "生産国は「コロンビア」。ナチュラルな甘さと重量感のあるコク、フルーティーさもあり、バランスの良い味。", "¥1,450.00", "2025/02/14"]
                      - ["KON-BL-500-001", "コナ", "豆", "浅煎り", "500", "生産国は「アメリカ（ハワイ島）」。強い酸味と甘い香りでキリマンジャロ、ブルーマウンテンに並び、「世界三大コーヒー」と称されることも。", "¥12,750.00", "2025/02/14"]
                      - ["KON-BM-500-002", "コナ", "豆", "中煎り", "500", "生産国は「アメリカ（ハワイ島）」。強い酸味と甘い香りでキリマンジャロ、ブルーマウンテンに並び、「世界三大コーヒー」と称されることも。", "¥12,750.00", "2025/02/14"]
                      - ["KON-BD-500-003", "コナ", "豆", "深煎り", "500", "生産国は「アメリカ（ハワイ島）」。強い酸味と甘い香りでキリマンジャロ、ブルーマウンテンに並び、「世界三大コーヒー」と称されることも。", "¥12,750.00", "2025/02/14"]
                      - ["MAN-BL-500-001", "マンデリン", "豆", "浅煎り", "500", "生産国は「インドネシア」。しっかりとした苦味とコクがあり、酸味は控えめで、ボディの強さとハーブやシナモンのような上品な風味がある。", "¥1,800.00", "2025/02/14"]
                      - ["MAN-BM-500-002", "マンデリン", "豆", "中煎り", "500", "生産国は「インドネシア」。しっかりとした苦味とコクがあり、酸味は控えめで、ボディの強さとハーブやシナモンのような上品な風味がある。", "¥1,800.00", "2025/02/14"]
                      - ["MAN-BD-500-003", "マンデリン", "豆", "深煎り", "500", "生産国は「インドネシア」。しっかりとした苦味とコクがあり、酸味は控えめで、ボディの強さとハーブやシナモンのような上品な風味がある。", "¥1,800.00", "2025/02/14"]
